<ion-content [fullscreen]="true">
  <div
    *ngFor="let result of apiresult"
    class="card"
    [ngClass]="{ 'slide-in': loadingMap[result.tableName], 'loaded': !loadingMap[result.tableName] }"
  >
    <div class="card-body row-layout">
      <div class="content horizontal-align">
        <ion-icon
          name="checkmark-circle"
          [color]="
            loadingMap[result.tableName]
              ? 'warning'
              : result.Status === 200
                ? 'success'
                : 'danger'
          "
          class="status-icon"
        ></ion-icon>
        <p class="card-text">
          {{ loadingMap[result.tableName] ? 'Processing...' : result.message }}
        </p>
      </div>
    </div>
  </div>
</ion-content>
