ion-title{
    text-align: center;
}

.item-card {
  margin: 8px;
  font-size: 14px;

  ion-card-content {
    padding: 12px;
  }

  .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: x-large;
    margin-bottom: 4px;
    color: black;
  }

  .item-description ,.item-detail {
    font-size: large;
    color: #272727;
    margin-bottom: 6px;
  }

//   .item-detail {
//     font-size: 13px;
//     color: #444;
//     margin-bottom: 2px;
//   }
}
